{% extends "base.html" %}
{% block content %}

<h2> {{ object.name }} </h2>

<div>
        <ul>
                <li> <b>ID:</b> {{ object.id }} </li>
                <li> <b>HASH:</b> {{ object.hash }} </li>
                <li> <b>UUID:</b> {{ object.uuid }} </li>
                <li> <b>File:</b> {{ object.file }} </li>
                <li> <b>Size:</b> {{ object.filesize|filesizeformat }} </li>
                <li> <b>Description:</b> {{ object.description }} </li>
                <li> <b>Comment:</b> {{ object.comment }} </li>
                <li> <b>Created:</b> {{ object.created_at }} </li>
                <li> <b>Updated:</b> {{ object.updated_at }} </li>
                <li> <b>User:</b>    {{ object.user}} </li>
                <li> <b>Project:</b> {{ object.project}} </li>
        </ul>
</div>

{% endblock %}
